/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #069C54;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;        /* 8px */
  --mb-2: 1rem;        /* 16px */
  --mb-3: 1.5rem;    /* 24px */
  --mb-4: 2rem;       /* 32px */
  --mb-5: 2.5rem;    /* 40px */
  --mb-6: 3rem;       /* 48px */

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #F1F3F2;
  --text-color: #C7D1CC;
  --body-color: #1D2521;
  --container-color: #27302C;
}

/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
/*========== LAYOUT ==========*/

.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.main-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
/*========== NAV ==========*/

@media screen and (max-width: 768px){
}

.nav__item{
}

.nav__link, .nav__logo, .nav__toggle{
}

.nav__logo:hover{
}

.nav__link{
}

.nav__link:hover{
}

.nav__toggle{
}

/* Show menu */
.show-menu{
}

/* Active menu */
.active-link{
}

/* Change background header */
.scroll-header{
}

/* Scroll top */
.scrolltop{
 
}

.scrolltop:hover{
}

.scrolltop__icon{
}

/* Show scrolltop */
.show-scroll{
}

/*========== HOME ==========*/

/*========== BUTTONS ==========*/


/*========== ABOUT ==========*/

/*========== SERVICES ==========*/


/*========== MENU ==========*/

/*========== APP ==========*/


/*========== CONTACT ==========*/

/*========== FOOTER ==========*/

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
 
}

@media screen and (min-width: 768px){
}

@media screen and (min-width: 960px){
  
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
}
